@page "/"
@namespace cxp.Pages

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cxp</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="css/site.css" rel="stylesheet" />
    <link href="~/css/navbar.css" rel="stylesheet" />
</head>
<body>
    
        <header>
            <nav class="navbar navbar-expand-sm   ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">

                    <img src="/img/menu.png" class="navh" />
                </button>

                <!-- logo -->
                <a class="navbar-brand" href="#">
                    <img style="width: 100px;" src="/img/logo.svg" width="75" height="30" alt="">
                </a>

                <!-- enlaces -->
                <div class="collapse navbar-collapse" id="opciones">
                    <ul class="navbar-nav">


                    <li class="nav-item">
                        <a class="nav-link" href="">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Proveedores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Producto">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Recepcion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Pagos</a>
                    </li>
                </ul>
                </div>
                @* <div>
                        <a class="nav-link nombre-nav" style="text-decoration: none;" href="#"></a>
                    </div>
                    <div>
                        <a href="../Login.html"  class="nav-link"><img src="../img/Vector.png"></a>

                    </div>*@
                <div>
                    <a href="/Login" class="nav-link">Login</a>
                </div>

            </nav>
        </header>
        <app>
            <component type="typeof(App)" render-mode="ServerPrerendered" />
        </app>
        <div id="blazor-error-ui">
            <environment include="Staging,Production">
                An error has occurred. This application may no longer respond until reloaded.
            </environment>
            <environment include="Development">
                An unhandled exception has occurred. See browser dev tools for details.
            </environment>
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/css/Util.js"></script>
        <script src="_framework/blazor.server.js"></script>
        <footer>
            <img src="/img/logo.svg" id="" alt="" width="140">
        </footer>
    



</body>
</html>
