@page "/Abono"
<link href="/css/add.css" rel="stylesheet" />
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <h1 class="titulo">Agregar pago</h1>
    <br>
    <br>
    



    <div class="input-group mb-3">
        <input type="text" class="form-control" id="deuda" aria-describedby="inputGroup-sizing-default" placeholder="Deuda" readonly>
    </div>
    <div class="input-group mb-3">
        <input type="date" class="form-control" id="fecha" aria-describedby="inputGroup-sizing-default" placeholder="Fecha de Pago" required>
    </div>
    <div class="input-group mb-3">
        <input type="number" class="form-control" id="tipo abono" aria-describedby="inputGroup-sizing-default" placeholder="Tipo de Pago" required>
    </div>
    <div class="input-group mb-3">
        <input type="number" class="form-control" id="abono" aria-describedby="inputGroup-sizing-default" placeholder="Cantidad a Abonar" required>
    </div>
    <div class="input-group mb-3">
        <input type="number" class="form-control" id="Nueva Deuva luego de pagar" aria-describedby="inputGroup-sizing-default" placeholder="Deuda Restante" readonly>
    </div>
    <div class="alert alert-danger" id="alert" role="alert" style="display: none;">
        Todos los campos son necesarios!
    </div>

    <div style="text-align: center; margin-left: auto; margin-right: auto;  padding-top: 25px;">
        <button type="button" class="btn" id="agregar" onclick="validar();">Agregar</button>
    </div>

</div>

@code {

}
