@page "/problema"
@layout LoginLayout

<link href="/css/StyleSheet.css" rel="stylesheet" />
<div class="bg-helper">
    <div class="container">
        <div class="maily">
            <img src="/img/maily-sad.png" alt="Maily is Sad">
        </div>
        <div class="caption">
            <h1>Lo sentimos pero no tienes permiso para ver esta pagina </h1>
            
        </div>
        <div class="btn-group">

            <a class="btn-primary" href="/" target="_blank">Return to Homepage</a>
        </div>
        <div class="error-code">
            <large>
                Error Code: 405  Unauthorized Acces
            </large>
        </div>
    </div>
</div>



@code {

}
