@page "/Menu"
@inject NavigationManager uriHelper;
@inject IJSRuntime js
<link href="/css/Menu.css" rel="stylesheet" />
<div class="container" style="margin-top: 40px;">
    <div class="d-flex justify-content-center row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <a class="d-flex justify-content-center card card-fondo" href="/Recepcion_Pedidos">
                <img class="img-margin" src="/img/image 6.svg" alt="Algoritmos" style="width: 80%; height: 250px;">
                <div class="card_container">
                    <h4>Recepcion de Pedido</h4>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="d-flex justify-content-center card card-fondo"
               href="">
                <img class="img-margin" src="/img/image 7.svg" alt="Algoritmos" style="width: 80%; height: 250px; height: 250px;">
                <div class="card_container">
                    <h4>Proveedores</h4>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="d-flex justify-content-center card card-fondo" href="">
                <img class="img-margin" src="/img/image 8.svg" alt="Algoritmos" style="width: 80%; height: 250px;">
                <div class="card_container">
                    <h4>Productos</h4>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="d-flex justify-content-center card card-fondo" href="">
                <img class="img-margin" src="/img/—Pngtree—hand drawn cartoon blue home_5553212 1.svg" alt="Algoritmos" style="width: 80%; height: 250px;">
                <div class="card_container">
                    <h4>Pedidos</h4>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="d-flex justify-content-center card card-fondo" href="/Pagos">
                <img class="img-margin" src="/img/image 5.svg" alt="Algoritmos" style="width: 80%; height: 250px;">
                <div class="card_container">
                    <h4>Pagos</h4>
                </div>
            </a>
        </div>


    </div>
</div>

@code
{


    protected override async Task OnInitializedAsync()
    {
       
    }

    

}