@page
    <link href="~/css/login.css" rel="stylesheet" />


    
         

  
        <div id="container">
            <div id="info-section">
                <div class="alert alert-danger" role="alert" id="alert" style="text-align: center; display: none;">

                </div>
                <img id="logo" src="../img/logo.svg" alt="Logo">
                <h2 id="bienvenida">CXP</h2>
                <p id="description" style="text-align: center;">
                    Registro de Cuentas por Pagar!
                </p>
            </div>
            <div id="login-section">
                <form id="signin-form" style="flex-direction:column; width: 100%; display: flex; justify-content:center; align-items:center;">
                    <h1 id="titulo" style="margin-bottom: 15px;">Iniciar Sesión</h1>
                    <input type="email" class="form-control" id="inputEmail"
                           style="height: 50px; width: 90%; margin-bottom: 20px;" aria-describedby="inputGroup-sizing-default"
                           placeholder="Correo" required>
                    <input type="password" class="form-control" id="inputPassword"
                           style="height: 50px; width: 90%; margin-bottom: 15px;" aria-describedby="inputGroup-sizing-default"
                           placeholder="Contraseña" required>
                    <div style=" text-align: center; margin-left: auto; margin-right: auto;">
                        <button type="submit" class="btnLogin" id="agregar">Iniciar Sesión</button>
                    </div>
                </form>
            </div>
        </div>
   
   
