@page "/Pagos"
<link href="/css/lista.css" rel="stylesheet" />
<div class="container" style="
    text-align: center;
">
    <br>
    <br>
    <br>
    <br>
    <h1 class="titulo">Generar Pagos</h1>
    <br>
    <br>
    <br>



    <div class="table-responsive">
        <table class="table table-light table-bordered" style="text-align: center;">
            <thead class="table" style="background-color: #021329; color: white;">
                <tr>
                    <th>Pedido</th>
                    <th>Proveedor</th>
                    <th>Deuda</th>
                    <th>Dias Restantes para Pagar</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="lista-equipos" style="background-color: D8D8D8; color: #000;">
            </tbody>
        </table>
    </div>
</div>
@code {

}
