@page "/pedidoadd"
@page "/pedidoadd/{Id:int}"

@using Model
@using Interface

@inject IPedidoService pedidoService
@inject NavigationManager navigationManager
@inject IProveedorService proveedorService
@inject IJSRuntime  js
@inject FileUtil futil

<link href="/css/add.css" rel="stylesheet" />
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <h1 class="titulo">Agregar Pedido</h1>
    <br>
    <br>


    <EditForm Model="@pedido">
        <div class="input-group mb-3">
            <input type="text" @bind="pedido.NoFactura" class="form-control" id="NoFactura" aria-describedby="inputGroup-sizing-default" placeholder="Numero de Factura" required>
        </div>
        <div class="input-group mb-3">
            <input type="date" @bind="pedido.Fecha" class="form-control" id="Fecha" aria-describedby="inputGroup-sizing-default" placeholder="Fecha de Factura" required>
        </div>
        <div class="input-group mb-3">
            <input type="number" @bind="pedido.IDUsuario" class="form-control" id="IDUsuario" aria-describedby="inputGroup-sizing-default" placeholder="Usuario" required>
        </div>
        <div class="input-group mb-3">
            <select @bind="pedido.IDProveedor" class="form-control" id="IDProveedor" aria-describedby="inputGroup-sizing-default" placeholder="Proveedor" required>
                @if (pedido?.IDProveedor != null)
                {
                    <option value="">Seleccione Proveedor</option>
                    @foreach (var item in lproveedor)
                    {
                        <option value="@item.idProveedor.ToString()">@item.nombre</option>
                    }
                }
            </select>
            @*<input type="number" @bind="pedido.IDProveedor" class="form-control" id="IDProveedor" aria-describedby="inputGroup-sizing-default" placeholder="Proveedor" required>*@
        </div>
        @*<div class="input-group mb-3">
            <input type="number" @bind="pedido.Total" class="form-control" id="Total" aria-describedby="inputGroup-sizing-default" placeholder="Total Factura" readonly>
        </div>*@
        <div class="alert alert-danger" id="alert" role="alert" style="display: none;">
            Todos los campos son necesarios!
        </div>

        <div style="text-align: center; margin-left: auto; margin-right: auto;  padding-top: 25px;">
            <button type="submit" class="btn" id="agregar" @onclick="Guardar">Agregar Detalle</button>
        </div>
    </EditForm>
</div>
@code {
    [Parameter] public int Id { get; set; }
    Pedidos pedido = new Pedidos();
    public List<usuarios> lusuarios { get; set; } = new List<usuarios>();
    public List<proveedores> lproveedor { get; set; } = new List<proveedores>();

    protected override async Task OnInitializedAsync()
    {
        pedido.IDUsuario = 1;
        pedido.Fecha = DateTime.Now;
        lproveedor = (await proveedorService.GetAllProveedor()).ToList();

    }


    protected async Task Guardar()
    {
        await pedidoService.InsertPedido(pedido);
        navigationManager.NavigateTo("/detalleadd/" + pedido.NoFactura);
    }
}
